body {
  /*padding: 0; margin: 0;*/
  /*background: #121212;*/
  font-family: "Open Sans", sans-serif;
  color: #121212;
}

#sidebar-wrapper {
  padding-left: 10;
  padding-right: 10;
  overflow:auto;
}

#main-wrapper {
  overflow-y: scroll;
}

.overlay {
  fill: none;
  point-events: all;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.county {
  stroke: black;
  stroke-linejoin: round;
}
.hover, .clicked {
  /*fill: yellow;*/
  stroke: #121212;
  stroke-width: 4px;
}
.spark-svg {
  width: 210;
  height: 85;
  padding: 5;
}
.spark {
  stroke: black;
  fill: none;
  stroke-width: 2px;
}

table, th {
  text-align: center;
}
